.logo{
    width: 70px;
}
.style-nav{
    background-color: #1e202b;
}
.ul-style a{
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-weight: 400;
    padding: 5px 25px !important;
}
.ul-style a:hover{
    border-color: #009ad8;
    color: #009ad8;
}
nav ul .active{
    border: 2px solid transparent !important;
    border-radius: 30px !important;
    border-color: #009ad8 !important;
    color: #009ad8 !important;
}
.home{
    height: 50vh;
    background-image: url(../images/banner.png);
    background-position: center center;
    background-size: cover;
    position: relative;

}
.home input{
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
    border-radius: 30px;
    border: none;
}
.home .btn-style{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
    background: #009ad8;
    border-radius: 30px;
    color: white;
    border: none;
}
.home input:focus{
    box-shadow: none;
    outline: 0;
}
.demo{
    bottom: 50px;
}
.forecast-table{
    background-color: #1e202b;
}
footer input{
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
    border-radius: 30px;
    border: none;
}
footer input:focus{
    box-shadow: none;
    outline: 0;
}
footer .btn-style-2{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
    background: #009ad8;
    border-radius: 30px;
    color: white;
    border: none;
}
footer .icons i{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 1.8;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 20px;
    font-size: 1.4285714286em;
}
footer .icons i:hover{
    background: #009ad8;
    color: white;
}
footer{
    background: #262936;
}
#forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.weather-card {
    background-color: #262936;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 10px;
    padding: 20px;
    width: 250px;

}

.today {
    background-color: #1e202b;
}

.weather-card .day {
    font-size: 20px;
    font-weight: bold;
}

.weather-card .date {
    font-size: 16px;
    color: #888;
}

.weather-card .location {
    font-size: 24px;
    margin-bottom: 10px;
}

.weather-card .temperature {
    font-size: 40px;
    font-weight: bold;
}

.weather-card .weather-icon img {
    max-width: 100px;
    height: auto;
}

.weather-card .condition {
    margin-top: 10px;
    font-size: 16px;
    color: #888;
}

.weather-card .details {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}
@media screen and (max-width: 768px) {
    .weather-card {
        width: calc(50% - 20px);
    }
}